.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: blue;}
nav li a{color: black}
input{border-radius: 1000%;}
body{
    background-color: wheat;
    color: rgb(255, 255, 255);

}